In [1]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity
ratings=pd.read_csv("dummy movies.csv",index_col=0)

In [2]:
ratings

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        NaN        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        NaN
user 3      1.0      NaN      NaN        4.0        5.0        4.0
user 4      NaN      2.0      1.0        4.0        NaN        3.0
user 5      1.0      NaN      2.0        3.0        3.0        4.0

In [3]:

ratings.fillna(0, inplace=True)
ratings

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        0.0        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        0.0
user 3      1.0      0.0      0.0        4.0        5.0        4.0
user 4      0.0      2.0      1.0        4.0        0.0        3.0
user 5      1.0      0.0      2.0        3.0        3.0        4.0

In [4]:
def standardize(row):
    new_row = (row - row.mean())/(row.max()-row.min())
    return new_row

df_std = ratings.apply(standardize)
print(df_std)

        action1  action2   action3  romantic1  romantic2  romantic3
user 1     0.36      0.6  0.400000      -0.65      -0.08      -0.35
user 2     0.56      0.2  0.400000      -0.15      -0.08      -0.60
user 3    -0.24     -0.4 -0.600000       0.35       0.52       0.40
user 4    -0.44      0.0 -0.266667       0.35      -0.48       0.15
user 5    -0.24     -0.4  0.066667       0.10       0.12       0.40

In [6]:
item_similarity = cosine_similarity(df_std.T)
print(item_similarity)

[[ 1.          0.70668875  0.81368151 -0.79941088 -0.02539184 -0.91410609]
 [ 0.70668875  1.          0.72310153 -0.84515425 -0.5189993  -0.84337386]
 [ 0.81368151  0.72310153  1.         -0.84794611 -0.3799803  -0.80218063]
 [-0.79941088 -0.84515425 -0.84794611  1.          0.14803913  0.72374686]
 [-0.02539184 -0.5189993  -0.3799803   0.14803913  1.          0.39393939]
 [-0.91410609 -0.84337386 -0.80218063  0.72374686  0.39393939  1.        ]]

In [7]:
corrMatrix = ratings.corr(method='pearson')
corrMatrix

            action1   action2   action3  romantic1  romantic2  romantic3
action1    1.000000  0.706689  0.813682  -0.799411  -0.025392  -0.914106
action2    0.706689  1.000000  0.723102  -0.845154  -0.518999  -0.843374
action3    0.813682  0.723102  1.000000  -0.847946  -0.379980  -0.802181
romantic1 -0.799411 -0.845154 -0.847946   1.000000   0.148039   0.723747
romantic2 -0.025392 -0.518999 -0.379980   0.148039   1.000000   0.393939
romantic3 -0.914106 -0.843374 -0.802181   0.723747   0.393939   1.000000

In [8]:
def get_similar(movie_name,rating):
    similar_score = corrMatrix[movie_name]*(rating)
    similar_score = similar_score.sort_values(ascending=False)
    #print(type(similar_ratings))
    return similar_score

In [9]:

action_lover = [("action1",5)]
similar_scores = pd.DataFrame()
for movie,rating in action_lover:
    similar_scores = similar_scores.append(get_similar(movie,rating))

similar_scores

         action1   action2   action3  romantic1  romantic2  romantic3
action1      5.0  3.533444  4.068408  -3.997054  -0.126959   -4.57053

In [10]:
similar_scores.sum().sort_values(ascending=False)

action1      5.000000
action3      4.068408
action2      3.533444
romantic2   -0.126959
romantic1   -3.997054
romantic3   -4.570530
dtype: float64

In [11]:
action_lover = [("romantic1",1)]
similar_scores = pd.DataFrame()
for movie,rating in action_lover:
    similar_scores = similar_scores.append(get_similar(movie,rating))

similar_scores

            action1   action2   action3  romantic1  romantic2  romantic3
romantic1 -0.799411 -0.845154 -0.847946        1.0   0.148039   0.723747

In [12]:
similar_scores.sum().sort_values(ascending=False)

romantic1    1.000000
romantic3    0.723747
romantic2    0.148039
action1     -0.799411
action2     -0.845154
action3     -0.847946
dtype: float64

In [13]:
def get_similar(movie_name,rating):
    similar_score = corrMatrix[movie_name]*(rating-3)
    similar_score = similar_score.sort_values(ascending=False)
    #print(type(similar_ratings))
    return similar_score

In [14]:
action_lover = [("romantic1",1)]
similar_scores = pd.DataFrame()
for movie,rating in action_lover:
    similar_scores = similar_scores.append(get_similar(movie,rating))

similar_scores

            action1   action2   action3  romantic1  romantic2  romantic3
romantic1  1.598822  1.690309  1.695892       -2.0  -0.296078  -1.447494

In [15]:
similar_scores.sum().sort_values(ascending=False)

action3      1.695892
action2      1.690309
action1      1.598822
romantic2   -0.296078
romantic3   -1.447494
romantic1   -2.000000
dtype: float64

In [16]:

action_lover = [("action1",5),("romantic2",1),("romantic3",1)]

similar_scores = pd.DataFrame()

for movie,rating in action_lover:
    similar_scores = similar_scores.append(get_similar(movie,rating))

similar_scores

            action1   action2   action3  romantic1  romantic2  romantic3
action1    2.000000  1.413377  1.627363  -1.598822  -0.050784  -1.828212
romantic2  0.050784  1.037999  0.759961  -0.296078  -2.000000  -0.787879
romantic3  1.828212  1.686748  1.604361  -1.447494  -0.787879  -2.000000

In [17]:
similar_scores.sum().sort_values(ascending=False)

action2      4.138124
action3      3.991685
action1      3.878996
romantic2   -2.838662
romantic1   -3.342394
romantic3   -4.616091
dtype: float64